/*目錄的大致排版*/
header {
    padding: 5px;
    text-align: center;
    font-size: 25px;
    margin: 10px;
    background-color: #9F5000;
    display: flex;
    flex-wrap: nowrap;
}

/*首頁向左對齊*/
.logo {
    margin: 20px 0px 20px 30px;
    border-radius: 50%;
}

/*關於我們向左對齊 大致排版*/
.aboutus {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0px 30px 30px;
    padding: 20px 30px;
}

/*所有商品向左對齊 大致排版*/
.good {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0px 30px 30px;
    padding: 0px 30px;
}

/*鼠標放上去有變化*/
.aboutus:hover {
    background-color: red;
}

.good:hover {
    background-color: red;
}

.vip:hover {
    background-color: red;
}

/*會員專區向左對齊 大致排版*/
.vip {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0px 30px 30px;
    padding: 0px 30px;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 100px;
}

/*購物車向左對齊 大致排版*/
.cart {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0px 30px 200px;
    padding: 0px 30px;
}

.user {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0px 30px 30px;
    padding: 0px 30px;
}

/*商品排行大致排版*/
.recommend {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: #c29f74;
    color: #faf8f5;
    border-radius: 20px;
}

/*排行榜文字排版*/
.numname {
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    background-color: #c29f74;
}

/*版權區大致排版*/
.copyright {
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: brown;
}

/*排行榜圖片內容排版*/
.center {
    border: solid;
    border-color: red;
    margin-left: 10%;
    margin-bottom: 50px;
    padding: 50px;
    background-color: darkred;
    color: #faf8f5;
    border-radius: 20px;
    height: auto;
}



* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 1000px;
}

/* Position the "next button" to the right */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}