/*目錄的大致排版*/
header {
    padding: 5px;
    text-align: center;
    font-size: 25px;
    margin: 10px;
    background-color: #9F5000;
    display: flex;
    flex-wrap: nowrap;
}

/*首頁向左對齊*/
.logo {
    margin: 20px 0px 20px 30px;
    border-radius: 50%;
}

/*關於我們向左對齊 大致排版*/
.aboutus {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0px 30px 30px;
    padding: 20px 30px;
}

/*所有商品向左對齊 大致排版*/
.good {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0px 30px 30px;
    padding: 0px 30px;
}

/*鼠標放上去有變化*/
.aboutus:hover {
    background-color: red;
}

.good:hover {
    background-color: red;
}

.vip:hover {
    background-color: red;
}

/*會員專區向左對齊 大致排版*/
.vip {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0px 30px 30px;
    padding: 0px 30px;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 100px;
}

/*購物車向左對齊 大致排版*/
.cart {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0px 30px 200px;
    padding: 0px 30px;
}

.user {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0px 30px 30px;
    padding: 0px 30px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

form {
    display: block;
}

div {
    display: block;
}

.total-order {
    border: solid;
    margin: 3% 25%;
    width: 50%;
    background-color: #c29f74;
}

.order-text {
    margin: 1% 5%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.s-b-t {
    display: flex;
    flex-direction: column;
}

.order-boby-root {
    display: flex;
    background-color: blanchedalmond;
    margin-bottom: 10px;
    width: 50%;
    padding: 2%;
    margin: 2% 25%;
    box-sizing: inherit;
    border: solid;
}

.order-boby-root-right {
    margin-left: 5%;
}

.user-text {
    margin: 1% 5%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.s-b-t {
    display: flex;
    flex-direction: column;
}

.user-boby-root {
    display: flex;
    background-color: blanchedalmond;
    margin-bottom: 10px;
    width: 50%;
    padding: 2%;
    margin: 2% 25%;
    box-sizing: inherit;
}

.user-boby-root-right {
    display: flex;
    margin-left: 25%;
}

.check {
    border: white;
    border-radius: 15%;
    background-color: lightblue;
    font-size: 20px;
    margin-bottom: 3%;
    margin-left: 40%;
    padding: 0.5% 1%;
    float: left;
}

.check:hover {
    background-color: #9F5000;
    color: white;
}

.cancel {
    border: white;
    border-radius: 15%;
    background-color: lightblue;
    font-size: 20px;
    margin-left: 10%;
    margin-bottom: 3%;
    padding: 0.5% 1%;
}

.cancel:hover {
    background-color: #9F5000;
    color: white;
}

/*版權區大致排版*/
.copyright {
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: brown;
}